/* Estilos para el apartado de reseña - Reseña - Opinión */
#cajaComentario{
    display: none;
}

div.form-reseña-nombre{
    background-color: rgb(50, 50, 50);
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
}

p.fuente-reseña-nombre{
    color: white;
    font-size: 20px;
    margin: 0;
}

div.comentario{
    background-color: rgb(244, 235, 235);
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    border: 1px solid rgb(192, 186, 186);
}

div.comentario-nombre{
    display: flex;
    justify-content: space-between;
}

div.comentario-texto pre{
    white-space: pre-wrap;
    margin: 0 10px;
    
}

textarea.comentario{
    width: 80%;
    height: 150px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid rgb(79, 79, 79);
    padding: 10px;
}

div.display-block{
    display: block;
}

div.img-usuario{
    display: block;
    justify-content: center;
    align-items: end;
    width: 8%;
    height: auto;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid rgb(84, 84, 84);
}
